html {
  min-height: 100%; }
  html body {
    min-height: 100vh;
    direction: rtl; }
    html body #page_wrapper {
      min-height: 100vh;
      padding: 0 0 50px; }
      html body #page_wrapper .hidden {
        display: none; }
      html body #page_wrapper .modal_page_closer {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000; }
        html body #page_wrapper .modal_page_closer .modal_container {
          width: 60vw;
          background-color: #fff;
          padding: 30px;
          box-sizing: border-box;
          position: absolute;
          top: 150px;
          right: 50%;
          transform: translateX(50%);
          text-align: right; }
          html body #page_wrapper .modal_page_closer .modal_container .modal_header {
            display: flex;
            justify-content: space-between; }
      html body #page_wrapper #survey_list_section {
        direction: rtl;
        height: calc(100vh - 17vh); }
        html body #page_wrapper #survey_list_section #surveys_list_container {
          height: 100%;
          position: relative; }
          html body #page_wrapper #survey_list_section #surveys_list_container .heading_box {
            padding: 2em 1.5em;
            display: flex;
            justify-content: space-between; }
            html body #page_wrapper #survey_list_section #surveys_list_container .heading_box .add_new_survey {
              padding: .5em 2rem;
              border-radius: 50px;
              color: #fff;
              background-color: #f18024;
              border-color: #f18024;
              font-size: 1rem;
              cursor: pointer; }
            html body #page_wrapper #survey_list_section #surveys_list_container .heading_box .add_new_survey:hover {
              background-color: #de6b0e;
              border-color: #de6b0e; }
          html body #page_wrapper #survey_list_section #surveys_list_container .survey_list {
            height: 90%;
            overflow-y: auto;
            width: 100%;
            padding: 1em 1.5em;
            scrollbar-color: #f18024 #ebebeb;
            direction: ltr; }
            html body #page_wrapper #survey_list_section #surveys_list_container .survey_list::-webkit-scrollbar {
              width: 10px; }
            html body #page_wrapper #survey_list_section #surveys_list_container .survey_list::-webkit-scrollbar-track {
              box-shadow: inset 0 0 1px #bebebe;
              border-radius: 5px; }
            html body #page_wrapper #survey_list_section #surveys_list_container .survey_list::-webkit-scrollbar-thumb {
              background: #f18024;
              border-radius: 5px; }
            html body #page_wrapper #survey_list_section #surveys_list_container .survey_list .one_survey {
              border: solid 1px #ebebeb;
              border-radius: 8px;
              width: 100%;
              padding: 1em;
              margin-bottom: 30px;
              box-shadow: 0 0 10px 2px #bebebe;
              direction: rtl; }
      html body #page_wrapper .nav_back {
        height: 11vh; }
      html body #page_wrapper #survey_admin_navbar {
        display: flex;
        justify-content: space-between;
        box-shadow: 2px 0 4px;
        background-color: #fff;
        height: 11vh;
        width: 100vw; }
        html body #page_wrapper #survey_admin_navbar .nav_inner {
          display: flex;
          justify-content: right;
          width: 50%;
          margin: 0;
          align-items: center; }
        html body #page_wrapper #survey_admin_navbar .navbar-left {
          width: 50px;
          margin: 0;
          padding: 0;
          height: 40px; }
          html body #page_wrapper #survey_admin_navbar .navbar-left .open_close_list {
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 2.2; }
      html body #page_wrapper #survey_form {
        padding-top: 30px;
        direction: rtl;
        text-align: right; }
        html body #page_wrapper #survey_form .survay_form_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: solid 1px #ebebeb;
          margin-bottom: 20px;
          padding-bottom: 15px; }
          html body #page_wrapper #survey_form .survay_form_header .survey_form_openclose {
            cursor: pointer; }
      html body #page_wrapper .quuestions_display_container .oneQuestion .card-header .question_remove {
        float: left;
        cursor: pointer; }
      html body #page_wrapper #question_form_container {
        position: relative;
        text-align: right; }
        html body #page_wrapper #question_form_container .questions_container_header {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          html body #page_wrapper #question_form_container .questions_container_header .questions_container_open_close {
            cursor: pointer; }
        html body #page_wrapper #question_form_container .question_form_box .question_form_field {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          html body #page_wrapper #question_form_container .question_form_box .question_form_field #question_name {
            margin-left: 30px; }
          html body #page_wrapper #question_form_container .question_form_box .question_form_field #quest_next_act {
            height: 37px;
            background-color: #fff;
            border: solid 1px #d5d5d6;
            border-radius: 4px; }
        html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_elements_types .types_container {
          padding: 2%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 2%;
          border: 1px solid #ebebeb; }
          html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_elements_types .types_container.hidden {
            display: none; }
        html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container {
          margin-top: 20px;
          margin-bottom: 50px; }
          html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box {
            padding: 10px 20px;
            border-bottom: solid 1px #bebebe; }
            html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container {
              display: flex;
              justify-content: space-between;
              align-items: center; }
              html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .answer_title {
                width: 50%; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .answer_title input {
                  width: 100%;
                  height: 34px;
                  background-color: #fff;
                  box-sizing: border-box;
                  border: solid 1px #bebebe; }
              html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box {
                display: flex;
                align-items: center; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box .add_next_act {
                  margin-left: 20px;
                  margin-right: 10px; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box .next_act_select {
                  height: 34px;
                  background: none;
                  background-color: #fff;
                  border: solid 1px #bebebe;
                  box-sizing: border-box; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box .answer_remove_init {
                  cursor: pointer; }
            html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box[sub_type=box] > .ans_container {
              display: block; }
        html body #page_wrapper #question_form_container .question_form_box .question_container_footer {
          margin-top: 20px; }

/*# sourceMappingURL=general.css.map */
