html {
  min-height: 100%; }
  html body {
    min-height: 100vh;
    direction: rtl; }
    html body #page_wrapper {
      min-height: 100vh;
      padding: 0 0 50px; }
      html body #page_wrapper .hidden {
        display: none; }
      html body #page_wrapper .modal_page_closer {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000; }
        html body #page_wrapper .modal_page_closer .modal_container {
          width: 60vw;
          background-color: #fff;
          padding: 30px;
          box-sizing: border-box;
          position: absolute;
          top: 150px;
          right: 50%;
          transform: translateX(50%);
          text-align: right; }
          html body #page_wrapper .modal_page_closer .modal_container .modal_header {
            display: flex;
            justify-content: space-between; }
      html body #page_wrapper #surveys_list_container {
        position: fixed;
        width: 20vw;
        height: calc(100vh - 51px);
        left: 0;
        top: 51px;
        z-index: 1031;
        background-color: #fff;
        border-right: 1px solid #ebebeb;
        padding-top: 20px;
        box-sizing: border-box; }
        html body #page_wrapper #surveys_list_container .survey_inner_box {
          width: 100%;
          height: 100%;
          padding: 0 5% 20px; }
          html body #page_wrapper #surveys_list_container .survey_inner_box .heading_box {
            text-align: right; }
          html body #page_wrapper #surveys_list_container .survey_inner_box .survey_list .one_survey {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.3em;
            padding: 10px 10px;
            box-sizing: border-box;
            border-bottom: solid 1px #ebebeb; }
            html body #page_wrapper #surveys_list_container .survey_inner_box .survey_list .one_survey .controls_box {
              display: flex; }
              html body #page_wrapper #surveys_list_container .survey_inner_box .survey_list .one_survey .controls_box i {
                display: block;
                margin-right: 20px;
                cursor: pointer; }
      html body #page_wrapper .nav_back {
        height: 51px; }
      html body #page_wrapper #survey_admin_navbar {
        display: flex;
        justify-content: space-between;
        box-shadow: 2px 0 4px;
        background-color: #fff;
        height: 51px;
        width: 100vw; }
        html body #page_wrapper #survey_admin_navbar .nav_inner {
          display: flex;
          justify-content: right;
          width: 50%;
          margin: 0; }
        html body #page_wrapper #survey_admin_navbar .navbar-left {
          width: 50px;
          margin: 0;
          padding: 0;
          height: 40px; }
          html body #page_wrapper #survey_admin_navbar .navbar-left .open_close_list {
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 2.2; }
      html body #page_wrapper #survey_form {
        padding-top: 30px;
        direction: rtl;
        text-align: right; }
        html body #page_wrapper #survey_form .survay_form_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: solid 1px #ebebeb;
          margin-bottom: 20px;
          padding-bottom: 15px; }
          html body #page_wrapper #survey_form .survay_form_header .survey_form_openclose {
            cursor: pointer; }
      html body #page_wrapper #question_form_container {
        position: relative;
        text-align: right; }
        html body #page_wrapper #question_form_container .questions_container_header {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          html body #page_wrapper #question_form_container .questions_container_header .questions_container_open_close {
            cursor: pointer; }
        html body #page_wrapper #question_form_container .question_form_box .question_form_field {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          html body #page_wrapper #question_form_container .question_form_box .question_form_field #question_name {
            margin-left: 30px; }
          html body #page_wrapper #question_form_container .question_form_box .question_form_field #quest_next_act {
            height: 37px;
            background-color: #fff;
            border: solid 1px #d5d5d6;
            border-radius: 4px; }
        html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_elements_types .types_container {
          padding: 2%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 2%;
          border: 1px solid #ebebeb; }
          html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_elements_types .types_container.hidden {
            display: none; }
        html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container {
          margin-top: 20px;
          margin-bottom: 50px; }
          html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box {
            padding: 10px 20px;
            border-bottom: solid 1px #bebebe; }
            html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container {
              display: flex;
              justify-content: space-between;
              align-items: center; }
              html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .answer_title {
                width: 50%; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .answer_title input {
                  width: 100%;
                  height: 34px;
                  background-color: #fff;
                  box-sizing: border-box;
                  border: solid 1px #bebebe; }
              html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box {
                display: flex;
                align-items: center; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box .add_next_act {
                  margin-left: 20px;
                  margin-right: 10px; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box .next_act_select {
                  height: 34px;
                  background: none;
                  background-color: #fff;
                  border: solid 1px #bebebe;
                  box-sizing: border-box; }
                html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box .ans_container .controls_box .answer_remove_init {
                  cursor: pointer; }
            html body #page_wrapper #question_form_container .question_form_box .answers_box .answers_forms_container .one_element_box[sub_type=box] > .ans_container {
              display: block; }
        html body #page_wrapper #question_form_container .question_form_box .question_container_footer {
          margin-top: 20px; }

/*# sourceMappingURL=general.css.map */
