.nav_back{
  height: 51px;
}
#survey_admin_navbar{
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 0 4px;
  background-color: #fff;
  //position: fixed;
  //top: 0;
  //left: 0;
  height: 51px;
  width: 100vw;
  .nav_inner {
    display: flex;
    justify-content: right;
    width: 50%;
    margin: 0;
  }
  .navbar-left{
    width: 50px;
    margin: 0;
    padding: 0;
    height: 40px;
    .open_close_list{
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.2;
    }

  }
  }

